@forward './fonts';
@forward './colors';
@forward './typography';
@forward './swiper';
@forward './mixins';
@forward './core/globals';
//@forward './colors/globals';
@forward './grid/globals';
@forward './media/globals';
@forward './typography/globals';

@forward '~normalize.css/normalize';

//@forward '~react-toastify/scss/main';
//@forward '~react-perfect-scrollbar/dist/css/styles';
//@forward '../../../scss-lib/globals';

@use '@theme' as *;

* {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
}

html {
	position: relative;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	position: relative;
	display: block;
}

#__next {
	height: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

@include withTheme() {
	background-color: getColor(white);
	color: getColor(black);
}

a {
	text-decoration: none;
}

button {
	letter-spacing: inherit;
	border: none;
	padding: 0;
	background: transparent;
	appearance: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
