@use 'sass:map';

@use '../core' as *;
@use '../media' as *;
@use './variables' as *;

// Возвращает значение размера шрифта $name в соответствии с темой и адаптивом
@function getFontSize($name, $default: $name) {
	@if map.has-key($fontSizes, $name) {
		@return cssVar('font-size-#{$name}');
	} @else {
		@return $default;
	}
}

// Устанавливает размер шрифта в соответствии с $name
@mixin fontSize($name) {
	font-size: getFontSize($name);
}

// Возвращает значение жирности шрифта $name в соответствии с темой и адаптивом
@function getFontWeight($name, $default: $name) {
	@if map.has-key($fontWeights, $name) {
		@return cssVar('font-weight-#{$name}');
	} @else {
		@return $default;
	}
}

// Устанавливает жирность шрифта в соответствии с $name
@mixin fontWeight($name) {
	font-weight: getFontWeight($name);
}

// Возвращает значение высоты строки шрифта $name в соответствии с темой и адаптивом
@function getLineHeight($name, $default: $name) {
	@if map.has-key($lineHeights, $name) {
		@return cssVar('line-height-#{$name}');
	} @else {
		@return $default;
	}
}

// Устанавливает высоту шрифта в соответствии с $name
@mixin lineHeight($name) {
	line-height: getLineHeight($name);
}

// Устанавливает font-weight | font-size | line-height в зависимости от $name равное значение $value
@mixin _renderProp($name, $value) {
	@if $name == font-weight {
		@include fontWeight($value);
	} @else if $name == font-size {
		@include fontSize($value);
	} @else if $name == line-height {
		@include lineHeight($value);
	} @else {
		#{$name}: #{$value};
	}
}

// Устанавливаются стили $name из $variants
@mixin typographyVariant($name) {
	@if map.has-key($typographyVariants, $name) {
		$props: map.get($typographyVariants, $name);
		@each $key, $val in $props {
			@include _renderProp($key, $val);
		}
	} @else {
		@error 'Unknown typography variant #{$name}';
	}
}
