@use 'sass:map';

@use '@theme' as *;

$buttonDefaults: (
	radius: 0,
) !default;

$buttonSizes: (
	sm: (
		height: 32px null 42px,
		border: 1px,
		px: 8px null 10px,
		py: 2px null 3px,
		typography: t2,
	),
	md: (
		height: 42px null 48px,
		border: 2px,
		px: 12px null 15px,
		py: 3px null 4px,
		typography: t1,
	),
	lg: (
		height: 48px null 58px,
		border: 2px,
		px: 15px null 20px,
		py: 4px null 5px,
		typography: h5,
	),
) !default;

$defaultButtonSize: md !default;
$defaultButtonSizeProps: map.get($buttonSizes, $defaultButtonSize);

$buttonColors: (
	default: (
		default: (
			color: white,
			text-color: black,
			border-color: gray,
		),
		'&:hover': (
			color: black,
			text-color: white,
			border-color: gray,
		),
	),
) !default;

$defaultButtonColors: default !default;
$defaultButtonColorsProps: map.get($buttonColors, $defaultButtonColors);
